		{% load static %}
        <!-- Footer Start -->
		<footer id="footer" class="footer-style-2">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="widget widget-newsletter">
								<div class="widget-title">
									<h5>Subscribe to our Newsletter</h5>
								</div>
								<div class="fieldset">
									<form action="#">
										<div class="field-holder">
											<label>
												<i class=" icon-envelope3"></i>
												<input type="text" class="field-input" placeholder=" Enter Your Email Address...">
											</label>
										</div>
										<div class="field-holder btn-holder">
											<input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget_text">
								<div class="widget-title">
									<h5>About us</h5>
								</div>
								<div class="textwidget">Foodbakery is the business of food and restaurants.
									Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
									Explore restaurants, bars, and cafés by locality cum doctus civibus
									efficiantur in imperdiet deterruisset. FoodBakery Just ordered me some grub
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cities</h5>
								</div>
								<ul>
									<li><a href="listings.html">Aberaeron</a></li>
									<li><a href="listings.html">Aberdeenshire</a></li>
									<li><a href="listings.html">Anston</a></li>
									<li><a href="listings.html">Ascot</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cuisines</h5>
								</div>
								<ul>
									<li><a href="listings.html">BB.Q</a></li>
									<li><a href="listings.html">ChickenRoast</a></li>
									<li><a href="listings.html">Cold Coffee</a></li>
									<li><a href="listings.html">Cold Drink</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-categories">
								<div class="widget-title">
									<h5>Menu</h5>
								</div>
								<ul>
									<li><a href="blog-large.html">Blog Large</a></li>
									<li><a href="blog-medium.html">Blog Medium</a></li>
									<li><a href="blog-medium.html">Blog Masonry</a></li>
									<li><a href="contact-us.html">Contact</a></li>
									<li><a href="faq.html">FAQ’s</a></li>
									<li><a href="how-it-works.html">How itworks</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget-connect">
								<div class="widget-title">
									<h5> Connect</h5>
								</div>
								<ul>
									<li><span class="bgcolor"><i class="icon-ring_volume"></i></span>
										<p>+1 123 456 7892</p>
									</li>
									<li><span class="bgcolor"><i class="icon-envelope-o"></i></span>
										<p><a href="#">support@chimpstudio.com</a>
										</p>
									</li>
									<li><span class="bgcolor"><i class="icon-location-pin2"></i></span>
										<p>33 - B, 2nd Floor, Saint Jhon Doe Appartments, Sussex, UK.26AL565C.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="copyright-inner">
								<div class="copy-right">
									<p>© 2020 Foodbakery. All Rights Reserved. Powered By <a href="#">ChimpGroup</a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.cs-copyright -->
		</footer>
		<!-- Footer End -->
	</div>
    	
	<script src="{% static 'js/responsive.menu.js' %}"></script>
	<!-- <script src="{% static 'js/swiper.min.js' %}"></script> -->
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<!-- <script src="{% static 'js/chosen.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script> -->
	<script src="{% static 'js/fliters.js' %}"></script>
	<script src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script src="{% static 'js/jquery.growl.js' %}"></script>
	<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.js' %}"></script>
	<!-- <script src="{% static 'js/skills-progress.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script> -->
	<!-- <script src="{% static 'js/functions-plugin.js' %}"></script> -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>